// property area start
.card-section-sticky-wrapper{
    height: auto;
}
.card-large-sticky-style-one{
    background: var(--color-card);
    position: sticky;
    top: 50px;
}
.real-estate-demo{
    overflow: visible;
}
.portfolio-list-thumbnail{
    height: 640px;
}
.portfolio-list-inner-content{
    max-width: 90%;
    .title{
        font-size: 45px;
    }
    .tag-wrapper-area{
        display: flex;
        align-items: center;
        gap: 20px;
        .single{
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 3px 12px;
            border: 1px solid var(--color-border);
        }
    }
    p{
        margin-top: 25px;
        max-width: 90%;
    }
    .tmp-btn{
        margin-top: 25px;
    }
    .location-area{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        i{
            font-size: 22px;
        }
        span{
            font-size: 18px;
        }
    }
    .feature-list{
        padding: 0;
        list-style: none;
        margin-bottom: 15px;
        li{
            display: flex;
            .icon{
                background: var(--color-primary);
                width: 30px;
                height: 30px;
                border-radius: 100%;
                color: var(--color-white);
                text-align: center;
                min-width: 30px;
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }
            }
            .title-wrapper{
                margin-left: 13px;
                .title{
                    font-size: 18px;
                    margin: 0;
                }
                .text{
                    font-size: 16px;
                    margin-bottom: 20px;
                    max-width: 80%;
                    margin-top: 13px;
                }
            }
        }
    }
}

.realstate-banner-style-two-thumbnail{
    height: 950px;
}