/*--------------------------
    Navigation Styles 
----------------------------*/
.mainmenu-nav {
    .mainmenu {
        display: flex;
        margin: 0;
        padding: 0;
        > li {
            > a {
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                padding: 0 17px;
                display: block;
                height: 80px;
                line-height: 80px;
                transition: 0.3s;
                @media #{$lg-layout} {
                    padding: 0 10px;
                }
                @media #{$md-layout} {
                    padding: 0 12px;
                }
                &:hover,
                &.active {
                    color: var(--color-primary) !important;
                }
            }
            &.current {
                > a {
                    color: var(--color-primary) !important;
                }
            }
        } 
        li {
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
            &.has-droupdown {
                .submenu {
                    min-width: 260px;
                    height: auto;
                    position: absolute;
                    top: 90%;
                    left: 0;
                    z-index: 90;
                    opacity: 0;
                    visibility: hidden;
                    text-align: left;
                    padding: 12px 0;
                    transition: 0.3s;
                    border-radius: 0 0 10px 10px;
                    background-color: var(--color-card);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

                    transform: scaleY(0);
                    clip: rect(0px, 200vw, 0, 0px);
                    transform: translateZ(0);
                    li {
                        a {
                            font-weight: 500;
                            padding: 5px 20px;
                            font-size: 15px;
                            display: block;
                            color: var(--color-body);
                            margin: 0 10px;
                            border-radius: 3px;
                            @extend %transition;
                            &:hover {
                                color: var(--color-primary) !important;
                                background: var(--color-card);
                                color: var(--color-white) !important;
                                background: var(--color-dark);
                                margin-left: 15px;
                            }
                            &.active {
                                color: var(--color-primary) !important;
                                background: var(--color-card);
                            }
                        }
                    }
                }
    
                &:hover {
                    .submenu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;

                        clip: rect(0px, 100vw, 200vh, -30px);
                        transition: clip 0.6s linear, opacity 0.4s linear;
                    }
                }
            }

            &.with-megamenu { 
                position: static;
                .tmp-megamenu {
                    position: absolute;
                    transition: 0.3s;
                    top: 100%;
                    width: 100%;
                    left: 0;
                    right: 0;
                    padding: 0 7px;
                    visibility: hidden;
                    opacity: 0;
                    transform-origin: 0 0;
                    transform: scaleY(0);

                    clip: rect(0px, 200vw, 0, 0px);
                    transform: translateZ(0);
                    .wrapper {
                        border-radius: 0 0 10px 10px;
                        background-color: var(--color-card);
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

                        .mega-menu-item {
                            padding: 22px 10px;
                            border-right: 1px solid var(--color-extra04);
                            height: 100%;

                            li {
                                a {
                                    font-weight: 500;
                                    padding: 5px 14px;
                                    font-size: 15px;
                                    display: block;
                                    color: var(--color-body);
                                    margin: 0 10px;
                                    border-radius: 4px;
                                    transition: 0.3s;
                                    display: flex;
                                    align-items: center;

                                    .tmp-badge-card {
                                        margin-left: 10px;
                                    }

                                    &:hover ,
                                    &.active {
                                        color: var(--color-white) !important;
                                        background: var(--color-dark);
                                        margin-left: 15px;
                                    }
                                }
                            }
                        }
                    }

                    &.with-mega-item-2 {
                        width: 600px;
                        margin: inherit;
                        // left: auto;
                        @media #{$laptop-device} {
                            width: 450px;
                        }
                        &.small-mega{
                            left: auto;
                            right: 0;
                        }
                    }
                    &.active{
                        transform: scaleY(1);
                        opacity: 1;
                        visibility: visible;
                        clip: rect(0px, 100vw, 200vh, -30px);
                        transition: clip 0.6s linear, opacity 0.4s linear;
                    }
                }

                .single-mega-item {
                    &:last-child {
                        .mega-menu-item {
                            border-right: 0 none;
                        }
                    }
                }

                &:hover {
                    .tmp-megamenu {
                        transform: scaleY(1);
                        opacity: 1;
                        visibility: visible;
                        top: 100%;

                        clip: rect(0px, 100vw, 200vh, -30px);
                        transition: clip 0.6s linear, opacity 0.4s linear;
                    }
                }
            }

        }
    }
}


.has-menu-child-item{
    > a{
        position: relative;
        &::after{
            content: "\e92e";
            position: absolute;
            right: -3px;
            top: 43%;
            font-family: "feather" !important;
            line-height: 1;
        }
        &:hover{
            &::after{
                content: "\e931";
            }
        }
    }
}


.mainmenu .with-megamenu .tmp-megamenu .demos-area-drop-down{
    ul.mega-menu-item{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 6px;
        li{
            flex-basis: 16%;
            background: #121010;
            border-radius: 2px;
            overflow: hidden;
            display: block;
            a{
                margin: 0 !important;
                border-radius: 0 !important;
                &.thumbnail-demos{
                    padding: 5px 5px;
                }
                &:nth-child(2){
                    padding: 6px 0 10px 5px !important;
                    line-height: 1;
                    &:hover{
                        background: var(--color-primary) !important;
                        color: var(--color-white);
                    }
                }
                &.active{
                    &.thumbnail-demos{
                        background: #5137f974 !important;
                        backdrop-filter: blur(2px);
                    }
                    &:nth-child(2){
                        background: #5137f974;
                        color: var(--color-white);
                        backdrop-filter: blur(2px);
                    }
                }
                .tmp-badge-card {
                    position: absolute;
                    z-index: 2;
                    letter-spacing: 0.5px;
                    top: 10px;
                    right: 10px;
                }
            }
            &:hover{
                .thumbnail-demos{
                    background: #5137f974 !important;
                }
                a{
                    &:nth-child(2){
                        background: #5137f974;
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}